<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" href="%PUBLIC_URL%/favicon.ico" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="theme-color" content="#000000" />
    <meta
      name="description"
      content="Web site created using create-react-app"
    />
   
    <title>React App</title>
    <link rel="stylesheet" href="/static/css/main.css" />
  </head>
  <body style="background-image: url('./background.png');background-repeat: no-repeat;background-size: cover;background-position: 0,50px;">
    <noscript>You need to enable JavaScript to run this app.</noscript>
    <div>
      <p style="color:#ffffff;font-style:italic;font-size:50px;">XinBuilder</p>
      <p style="color:#c0bee6;font-style:italic;font-size:30px;margin-left: 40px;">轻量级的低代码平台</p>
      <p style="color:#ffffff;font-size:16px;font-weight: 100;">一款支持用户，通过拖拽组件，可视化配置组件的属性样式来生成页面。</p>
      <p style="color:#ffffff;font-size:16px;font-weight: 100;">同时支持用户上传自定义组件，通过JS或者React编写。</p>
      <p style="color:#ffffff;font-size:16px;font-weight: 100;">支持用户可视化配置数据库表和字段，并在页面中对数据进行增删改查。</p>
      <p style="color:#ffffff;font-size:16px;font-weight: 100;">完成的页面，不仅可以在平台查看，可以通过链接的方式进行分享。</p>
      <a target="_blank" style="text-decoration:none;font-size:30px;margin-left:400px;color: rgb(192, 255, 255);font-style:italic;" href="/builder">快速开始</a>
      <p style="position: absolute;left:700px;top:0px;color:#ffffff;font-style:italic;font-size:50px;">Github</p>
      <a target="_blank" href="https://github.com/TeacherXin/XinBuilder" style="position: absolute;left:650px;top:150px;color:#c0bee6;font-style:italic;font-size:20px;margin-left: 40px;">https://github.com/TeacherXin/XinBuilder</a>
      <a target="_blank" href="https://github.com/TeacherXin/XinBuilderRender" style="position: absolute;left:650px;top:200px;color:#c0bee6;font-style:italic;font-size:20px;margin-left: 40px;">https://github.com/TeacherXin/XinBuilderRender</a>
      <a target="_blank" href="https://github.com/TeacherXin/XinbuilderServer" style="position: absolute;left:650px;top:250px;color:#c0bee6;font-style:italic;font-size:20px;margin-left: 40px;">https://github.com/TeacherXin/XinbuilderServer</a>
      <img style="position: absolute;left:950px;top:330px;width:200px;height:260px" src="./person.jpg"></img>
    </div>
    <!--
      This HTML file is a template.
      If you open it directly in the browser, you will see an empty page.

      You can add webfonts, meta tags, or analytics to this file.
      The build step will place the bundled scripts into the <body> tag.

      To begin the development, run `npm start` or `yarn start`.
      To create a production bundle, use `npm run build` or `yarn build`.
    -->
    <script type="text/plain" async crossorigin src="/assets/react.min.js"></script>
    <script type="text/plain" async crossorigin src="/assets/react-dom.min.js"></script>
    <script type="text/plain" async src="/static/js/render.js"></script>
    <script type="text/plain" async src="/assets/dayjs.min.js"></script>
    <script type="text/plain" async src="/assets/antd.min.js"></script>
    <script type="text/plain" async src="/static/js/main.js"></script>
  </body>
</html>
